<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8"/>
	<title>Joseph Kim</title>
	<link rel="stylesheet" href="../public/styles.css" type="text/css"/>

</head>

<body>

	<div class="main-navbar-container" id="top">
		<div class="main-navbar">
			<div class="navbar-element"><a href="index.html">Joseph Kim</a></div>
			<!-- start of navbar menu -->
			<ul class="navbar">
				<li class="navbar-element"><a href="index.html">Home</a></li>
				<li class="navbar-element"><a href="about.html">About</a></li>
				<li class="navbar-dropdown"><a href="projects.html">Projects</a>
					<!-- start of project submenu -->
					<ul class="projects-menu">
						<li><a href="projects.html">Project 1</a></li>
						<li><a href="projects.html">Project 2</a></li>
						<li><a href="projects.html">Project 3</a></li>
						<li><a href="projects.html">Project 4</a></li>
					</ul>
					<!-- end of project submenu -->
				</li>
				<li class="navbar-element"><a href="contact.html">Contact</a></li>
			</ul>
			<!-- end of navbar menu -->
		</div>
	</div>


	<div class="content">
		<!-- <a href="#bottom" class="button">Bottom!</a> -->

		<h1>Joseph Kim</h1>

		<img src="../images/me.png" width='400' alt="A picture of me!"/>

		<p>Welcome To My Page!</p>

		<!-- <div class="column-container">
			<div class="column"></div>
			<div class="column"></div>
			<div class="column"></div>
		</div> -->

		<!-- <a href="#top" class="button">Top!</a> -->
	</div>


	<div class="footer">
		<address id="bottom">
			2018 Joseph Kim
		</address>
	</div>

</body>

</html>
