<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8"/>
	<!-- disable zooming on mobile devices for responsive design -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<title>Joseph Kim</title>
	<link rel="stylesheet" href="../public/styles.css" type="text/css"/>

</head>

<body>

	<div class="main-navbar-container">
		<div class="main-navbar">
			<a href="index.html" class="name-navbar-element">Joseph Kim</a>
			<!-- start of navbar menu -->
			<ul class="navbar">
				<li><a href="index.html" class="navbar-element">Home</a></li>
				<li><a href="about.html" class="navbar-element">About</a></li>
				<li class="navbar-dropdown"><a href="projects.html" class="navbar-element">Projects</a>
					<!-- start of project submenu -->
					<ul class="projects-menu">
						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
					</ul>
					<!-- end of project submenu -->
				</li>
				<li><a href="contact.html" class="navbar-element">Contact</a></li>
			</ul>
			<!-- end of navbar menu -->
		</div>
	</div>


	<div class="content">
		<div class="content-box-1">
			<h1>Joseph Kim</h1>

			<p>Welcome To My Page!</p>
		</div>

		<!-- <div class="content-box-2">
			<h1>About Me</h1>
		</div>

		<div class="content-box-3">
			<h1>Projects</h1>
		</div> -->

		<!-- <a href="#top" class="button">^</a> -->
	</div>


	<div class="footer">
		<div id="bottom">
			2018 Joseph Kim
		</div>
	</div>

</body>

</html>
