<!DOCTYPE html>
<html>

  <head>
    <title>Joseph Kim</title>
  	<meta charset="UTF-8"/>
  	<link rel="stylesheet" href="../public/styles.css" type="text/css"/>
  </head>

  <body>

    <div class="main-navbar-container">
  		<div class="main-navbar">
  			<a href="index.html" class="name-navbar-element">Joseph Kim</a>
  			<!-- start of navbar menu -->
  			<ul class="navbar">
  				<li><a href="index.html" class="navbar-element">Home</a></li>
  				<li><a href="about.html" class="navbar-element">About</a></li>
  				<li class="navbar-dropdown"><a href="projects.html" class="navbar-element">Projects</a>
  					<!-- start of project submenu -->
  					<ul class="projects-menu">
  						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
  						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
  						<li><a href="projects.html" class="dropdown-element">Projects</a></li>
  					</ul>
  					<!-- end of project submenu -->
  				</li>
  				<li><a href="contact.html" class="navbar-element">Contact</a></li>
  			</ul>
  			<!-- end of navbar menu -->
  		</div>
  	</div>

    <div class="content">
      <div class="content-box-1">
        <h1>Projects</h1>

        <h2>Check Out My <a href="https://github.com/kimhjoseph" target="_blank">Github</a>!</h2>
      </div>

      <!-- <div class="content-box-2">
  			<div class="column-container">
  				<div class="column">
            <h2>Weather App</h2>
            <p class="project-description">
              Implemented a simple weather app using NodeJS and Express
            </p>
            <a href="https://github.com/kimhjoseph/weatherApp" target="_blank" class="button">Check it out here!</a>
          </div>
  				<div class="column"></div>
  				<div class="column"></div>
  			</div>
  		</div> -->
    </div>

    <div class="footer">
  		<address id="bottom">
  			2018 Joseph Kim
  		</address>
  	</div>

  </body>

</html>
